.App {
  width: 100%;
  height: 920.4px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  padding-bottom: 10px;
  border-bottom: solid 1px #C2C2C2;
  margin-bottom: 20px;
}

.logo-img {
  width: 55px;
  height: 55px;
  padding-right: 20px;
}

.logo-title-img {
  width: 210px;
  height: 70px;
  padding-left: 20px;

}

.divider {
  height: 45px;
  width: 0;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  /* border-style: ridge; */
  background-color: grey;
  /* margin: 10px;  */

}

.to-adjust {
  display: flex;
  align-items: center;
}

.search {
  /* padding-left: 40px; */
  display: flex;
  align-items: center;
}

.search input {
  width: 180px;
  height: 20px;
}

.search input::placeholder {
  text-align: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons img {
  width: 30px;
  height: 30px;
  padding-left: 20px;
}

.dp {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.dp h3 {
  padding-left: 20px;
}

.dp img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.postImage img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.comment-icons {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin: 0;
}

#like {
  width: 30px;
  height: 30px;
}

#comment {
  width: 55px;
  height: 55px;
}

.likesCount p {
  padding-left: 15px;
  margin: 0;
}

.comments {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

.addComment {
  padding-left: 10px;
}

.addComment input {
  width: 100%;
  height: 30px;
}

.postDiv {
  padding-bottom: 10px;
  border: none;
}